<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>Controlador.Servlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>Controlador.Servlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet3</servlet-name>
        <servlet-class>Controlador.Servlet3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet4</servlet-name>
        <servlet-class>Controlador.Servlet4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarlogin</servlet-name>
        <servlet-class>Controlador.guardarlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validar</servlet-name>
        <servlet-class>Controlador.validar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>USUARIOS</servlet-name>
        <servlet-class>CONTROLLER.USUARIOS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PRESTAMO</servlet-name>
        <servlet-class>CONTROLLER.PRESTAMO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarLogin</servlet-name>
        <servlet-class>Controlador.GuardarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarUsuario</servlet-name>
        <servlet-class>Controlador.GuardarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarLibro</servlet-name>
        <servlet-class>Controlador.GuardarLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarPrestamo</servlet-name>
        <servlet-class>Controlador.GuardarPrestamo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarDevolucion</servlet-name>
        <servlet-class>Controlador.GuardarDevolucion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarLibro</servlet-name>
        <servlet-class>Controlador.ModificarLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarUsuario</servlet-name>
        <servlet-class>Controlador.ModificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudUsuario</servlet-name>
        <servlet-class>Controlador.CrudUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserService</servlet-name>
        <servlet-class>user.UserService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudLibro</servlet-name>
        <servlet-class>Controlador.CrudLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudPrestamo</servlet-name>
        <servlet-class>Controlador.CrudPrestamo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudDevolucion</servlet-name>
        <servlet-class>Controlador.CrudDevolucion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBD</servlet-name>
        <servlet-class>Controlador.ServletBD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validacion</servlet-name>
        <servlet-class>Controlador.Validacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuario</servlet-name>
        <servlet-class>Controlador.EditarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarLibro</servlet-name>
        <servlet-class>Controlador.EditarLibro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/Servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/Servlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet3</servlet-name>
        <url-pattern>/Servlet3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet4</servlet-name>
        <url-pattern>/Servlet4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarlogin</servlet-name>
        <url-pattern>/guardarlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validar</servlet-name>
        <url-pattern>/validar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>USUARIOS</servlet-name>
        <url-pattern>/USUARIOS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PRESTAMO</servlet-name>
        <url-pattern>/PRESTAMO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarLogin</servlet-name>
        <url-pattern>/GuardarLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarUsuario</servlet-name>
        <url-pattern>/GuardarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarLibro</servlet-name>
        <url-pattern>/GuardarLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarPrestamo</servlet-name>
        <url-pattern>/GuardarPrestamo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarDevolucion</servlet-name>
        <url-pattern>/GuardarDevolucion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarLibro</servlet-name>
        <url-pattern>/ModificarLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarUsuario</servlet-name>
        <url-pattern>/ModificarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudUsuario</servlet-name>
        <url-pattern>/CrudUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserService</servlet-name>
        <url-pattern>/UserService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudLibro</servlet-name>
        <url-pattern>/CrudLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudPrestamo</servlet-name>
        <url-pattern>/CrudPrestamo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudDevolucion</servlet-name>
        <url-pattern>/CrudDevolucion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBD</servlet-name>
        <url-pattern>/ServletBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validacion</servlet-name>
        <url-pattern>/Validacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsuario</servlet-name>
        <url-pattern>/EditarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarLibro</servlet-name>
        <url-pattern>/EditarLibro</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
